.App{
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
  width:500px;
  min-height: 400px;
  margin:auto;
  margin-top: 5px;
  display:flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.form-data{
  width:400px;
  background-color: rgb(10 31 52 / 79%);
  height: 160px;
  display:flex;
  flex-direction: column;
  align-items: center;
  color:white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
form {
  position:relative;
  width:350px;
}
input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  outline: 0;
}
.add{
  position: absolute;
  top: 8px;
  padding: 13px 21px;
  right: 0px;
  bottom: 0;
  z-index: 2;
  border: none;
  height: 41px;
  cursor: pointer;
  color: white;
  background-color: #1e90ff;
}

.data{
   width:400px;
   font-size: 20px;
}
ul {
  width:100%;
  margin:0;
  padding:0;
  list-style: none;
  /* display:flex;
  justify-items: center;
flex-direction: column; */
}

li{ 
  cursor: pointer;
  background-color: #1e90ff;
  padding:12px 25px;
  margin-top: 10px; 
}
.strike{
  text-decoration: line-through;
  color: #fff;  
}
.close{
  float: right;
  border: none;
  cursor: pointer;
  color: white;
  padding: 5px 10px;
  background-color: #2b282a;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.done{
  float:left;
  margin-right: 10px;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}